# Binary
*.o
*/bin/
*/obj/
bin/hxconv

# Valgrind core dumps
vgcore.*

# Clang compile commands
compile_commands.json
.cache/

# we don't want extracted/copyrighted stuff getting into the repo
_*/
*.vgs
*.png
*.gh
*.kr
*.mesh
*.tex
*.bmp_ps2
*.mat
*.obj
*.mtl
*.xbv
*.ipu
*.rnd*
*.flatmilo
*.milo*
